@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    @ apply relative flex items-center justify-center
} h-12 w-12 mt-2 mb-2 mx-auto;
bg-gray-800 text-green-500
hover; bg -green-600; hover:text-white;
}
rounded-3xl hover:rounded-xl;
transition-allduration -300 ease-linear;
cursor-pointer;

.sidebar-tooltip {
    @absolute w-auto p-2 m-2 min-w max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 orgin-left}
  
    body{
        margin:0;
        font-family:'Courier New', Courier, monospace
        main{
            margin: 20px;
            {
                ul{
                    padding: 0:
                    margin: 0;
                    list-style-type: none;
                    {
                        li{
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: blue;
    text-decoration: none:
    article{
        border: 1px solid red
        margin-button 10px;
        padding: 10px;
    }
    a.active{
        text-decoration: underline;
    }
